<%= form_for [:admin, page], html: { class: 'p-8' } do |f| %>
  <% if page.errors.any? %>
    <ul>
      <% page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="block">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Page title', class: 'form-input mt-1 block w-full' %>
  </div>

  <div class="block mt-4">
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: 'Page description', class: 'form-input mt-1 block w-full' %>
  </div>

  <div class="block mt-4">
    <%= f.check_box :published, class: 'form-checkbox text-green-500' %>
    <%= f.label :published %>
  </div>

  <div class="block mt-4">
    <%= f.submit class: 'px-4 py-1 text-white tracking-wider bg-green-600 rounded' %>
  </div>
<% end %>
