<div class="w-full bg-white rounded shadow leading-loose">
  <%= render 'shared/admin/navigation', place: @place %>

  <%= form_for [:admin, @place], html: { class: 'p-8' } do |f| %>

    <div class="">
      <%= f.label :name, class: 'block text-sm text-gray-00' %>
      <%= f.text_field :name, placeholder: 'Name', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <div class="mt-2">
      <%= f.label :slug, class: 'block text-sm text-gray-00' %>
      <%= f.text_field :slug, placeholder: 'Slug', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <div class="mt-2">
      <%= f.label :email, class: 'block text-sm text-gray-00' %>
      <%= f.text_field :email, placeholder: 'Email', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <div class="mt-2">
      <%= f.label :website, class: 'block text-sm text-gray-00' %>
      <%= f.text_field :website, placeholder: 'Website', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <div class="mt-2">
      <%= f.label :phone_number, class: 'block text-sm text-gray-00' %>
      <%= f.text_field :phone_number, placeholder: 'Phone number', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <%= f.fields_for :location do |fl| %>
      <div class="inline-block mt-2 w-1/2 pr-1">
        <%= fl.label :address, class: 'block text-sm text-gray-00' %>
        <%= fl.text_field :street_name, placeholder: 'Vejnavn', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
      </div>
      <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
        <%= fl.text_field :street_number, placeholder: 'Nummer', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
      </div>

      <div class="inline-block mt-2 w-1/4 pr-1">
        <%= fl.text_field :postal_code, placeholder: 'Postnummer', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
      </div>
      <div class="inline-block mt-2 -mx-1 pl-1 w-3/4">
        <%= fl.text_field :city, placeholder: 'By', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
      </div>
    <% end %>



    <div class="mt-2">
      <%= f.label :description, class: 'block text-sm text-gray-00' %>
      <%= f.rich_text_area :description, placeholder: 'Long description', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <div class="mt-2">
      <%= f.label :short_description, class: 'block text-sm text-gray-00' %>
      <%= f.text_field :short_description, placeholder: 'Short description', class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <div class="mt-2">
      <%= f.label :active, class: 'block text-sm text-gray-00' %>
      <%= f.check_box :active, class: 'w-full px-5 py-1 text-gray-700 border rounded' %>
    </div>

    <div class="mt-6">
      <%= f.submit 'Opdater', class: 'px-4 py-1 text-white tracking-wider bg-green-600 rounded' %>
    </div>
  <% end %>
</div>

