<div class="bg-gray-200 py-10 mt-10">
  <div class="container mx-auto px-4">
    <div class="pb-10">
      <%= render 'shared/logo' %>
    </div>

    <div class="flex justify-between w-2/3 md:w-2/5 text-sm">
      <div>
        <div><%= link_to t('.places'), places_path, class: 'text no-underline hover:text-red-500' %></div>
        <div><%= link_to t('.events'), events_path, class: 'text no-underline hover:text-red-500' %></div>
        <div class="pt-10 text-gray-700"><%= t(".copyright", year: Time.current.year) %></div>
      </div>

      <div>
        <div><%= link_to t('.about'), about_path, class: 'text no-underline hover:text-red-500' %></div>
        <div><%= link_to t('.contact'), 'mailto:info@gotaste.dk', class: 'text no-underline hover:text-red-500' %></div>
        <div class="pt-10 text-gray-700"><%= link_to t('.terms'), '#', class: 'text no-underline hover:text-red-500' %></div>
      </div>
    </div>
  </div>
</div>
