<h3 class="my-2 text-base font-semibold">
  <span class="text-gray-700 pr-1">
    <i class="fas fa-map-marker-alt"></i>
  </span>
  <%= t('.address_header') %>
</h3>
<div class="my-2 text-sm">
  <div><%= t('.address_first_part', street_name: location.street_name, street_number: location.street_number) %></div>
  <div class="text-gray-600"><%= t('.address_second_part', postal_code: location.postal_code, city: location.city) %></div>
</div>
<div>
  <a href="https://www.google.com/maps/search/?api=1&amp;query=<%= location.latitude %>,<%= location.longitude %>" target="_blank" rel="noopener noreferrer" class="text-sm no-underline text-red-500 hover:underline">
    <%= t('.directions') %>
  </a>
</div>
