<style>
  #menu-toggle:checked + #menu {
    display: block;
  }
</style>

<header class="flex flex-wrap container mx-auto  max-w-5xl px-4 items-center lg:py-0 py-2">
  <div class="flex flex-1 justify-between items-center">
    <%= render 'shared/logo' %>
  </div>
    <label for="menu-toggle" class="cursor-pointer sm:hidden block"><svg class="fill-current text-gray-900"
        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input type="checkbox" class="hidden" id="menu-toggle" />

    <div class="hidden sm:flex sm:items-center sm:w-auto w-full h-auto sm:h-16" id="menu">
      <nav>
        <ul class="sm:flex items-center justify-between pt-4 sm:pt-0">
          <li><%= link_to t('.discover'), area_path('kobenhavn'), class: 'block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded' %></li>
          <li><%= link_to t('.places'), places_path, class: 'block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded' %></li>
          <li><%= link_to t('.events'), events_path, class: 'block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded' %></li>
          <div class="hidden sm:flex sm:mx-2 sm:my-1 border border-red-100 h-4"></div>
          <li>
            <% if user_signed_in? %>
              <%= link_to t('.sign_out'), destroy_user_session_path, class: 'block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded', method: :delete %>
            <% else %>
              <%= link_to t('.sign_in'), new_user_session_path, class: 'block py-4 px-4 sm:py-1 sm:px-2 text-red-500 font-semibold no-underline hover:bg-red-100 rounded' %>
            <% end %>
          </li>
        </ul>
      </nav>
  </div>
</header>
