<div class="p-3 w-full sm:w-1/2 lg:w-1/3">
  <%= link_to place_path(place.slug), class: 'inline-flex flex-col rounded shadow hover:shadow-md' do %>
    <%= image_tag place.cover_image, class: 'rounded-t' if place.cover_image.attached? %>
    <div class="p-4 border-b border-dotted">
      <div class="font-medium"><%= place.name %></div>
      <div class=" text-gray-600"><%= place.short_description %></div>
    </div>
    <div class="px-4 py-2 text-xs text-gray-600">
      <%= t(".#{place.category}") %>
    </div>
  <% end %>
</div>
