<%= link_to place_path(place.slug), class: 'w-full sm:w-1/3 flex flex-col p-3'  do %>
  <div class="bg-white rounded-lg shadow hover:shadow-md overflow-hidden flex-1 flex flex-col">
    <%= cl_image_tag(place.cover_image.key, width: 800, height: 400, crop: :fill, quality: 100) if place.cover_image.attached? %>
    <div class="flex-1 flex flex-col">
      <div class="flex-1 p-4">
        <h3 class="mb-2 text-2xl"><%= place.name %></h3>
        <p class="text-gray-700 text-base"><%= place.short_description %> </p>
      </div>
      <div class="border-t border-gray-300 px-4 py-2 text-gray-500">
        <%= t("place_categories.#{place.category}") %>
      </div>
    </div>
  </div>
<% end %>
