<div class="pb-2 md:pb-6">
  <%= cl_image_tag(@place.cover_image.key, width: 800, height: 250, crop: :fill, quality: 100, class: 'shadow-md w-full object-cover' ) if @place.cover_image.attached? %>
</div>

<div class="md:flex pb-6">
  <div class="w-full mr-16">
    <h1 class="font-extrabold text-3xl md:text-5xl"><%= @place.name %></h1>
    <div class="flex py-2 text-lg pb-8">
      <div class="pr-4 font-semibold">
        <%= t("place_categories.#{@place.category}") %>
      </div>
      <span class="fa fa-star checked"></span>
      <%= fa_icon "camera-retro" %>

      <div><%= t('.number_of_reviews', count: @place.reviews.count) %></div>
    </div>

    <div class="text-lg">
      <%= @place.description %>
    </div>
  </div>

  <div class="md:w-2/5 py-6 md:p-0">
    <div class="pb-4">
      <h2 class="mb-2 text-xl text-red-600 font-semibold"><%= t('.information_header') %></h2>
      <%= render 'shared/location', location: @place.location %>
      <div>
        <h3 class="my-2 text-base font-semibold"><%= t('.opening_hours_header') %></h3>
        <div class="justify-between">
          <%= render @place.opening_hours %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @place.events.upcoming.any? %>
<div class="py-4 border-t border-gray-200">
  <%= render 'shared/events_row', header: :upcoming_events, events: @place.events.upcoming, scope_search_to_place: true %>
</div>
<% end %>

<% unless @review.persisted? %>
  <div class="py-4 border-t border-gray-200">
    <%= render 'shared/add_review_row', reviewable: @place %>
  </div>
<% end %>
