<!DOCTYPE html>
<html lang="da">
  <head>
    <title>GoTaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-white font-sans antialiased">
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
